<!--

                   ..oo$00ooo..                    ..ooo00$oo..
                .o$$$$$$$$$'                          '$$$$$$$$$o.
             .o$$$$$$$$$"             .   .              "$$$$$$$$$o.
           .o$$$$$$$$$$~             /$   $\              ~$$$$$$$$$$o.
         .{$$$$$$$$$$$.              $\___/$               .$$$$$$$$$$$}.
        o$$$$$$$$$$$$8              .$$$$$$$.               8$$$$$$$$$$$$o
       $$$$$$$$$$$$$$$              $$$$$$$$$               $$$$$$$$$$$$$$$
      o$$$$$$$$$$$$$$$.             o$$$$$$$o              .$$$$$$$$$$$$$$$o
      $$$$$$$$$$$$$$$$$.           o{$$$$$$$}o            .$$$$$$$$$$$$$$$$$
     ^$$$$$$$$$$$$$$$$$$.         J$$$$$$$$$$$L          .$$$$$$$$$$$$$$$$$$^
     !$$$$$$$$$$$$$$$$$$$$oo..oo$$$$$$$$$$$$$$$$$oo..oo$$$$$$$$$$$$$$$$$$$$$!
     {$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$}
     6$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$?
     '$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$'
      o$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$o
       $$$$$$$$$$$$$$;'~`^Y$$$7^''o$$$$$$$$$$$o''^Y$$$7^`~';$$$$$$$$$$$$$$$
       '$$$$$$$$$$$'       `$'    `'$$$$$$$$$'     `$'       '$$$$$$$$$$$$'
        !$$$$$$$$$7         !       '$$$$$$$'       !         V$$$$$$$$$!
         ^o$$$$$$!                   '$$$$$'                   !$$$$$$o^
           ^$$$$$"                    $$$$$                    "$$$$$^
             'o$$$`                   ^$$$'                   '$$$o'
               ~$$$.                   $$$.                  .$$$~
                 '$;.                  `$'                  .;$'
                    '.                  !                  .`
--><!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Batman Ipsum</title>
    <meta name="description" content="Generate random text using Batman movies punchlines" />
    <meta name="viewport"    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="copyright"   content="Bruno SIMON" />
    <meta name="author"      content="Bruno Simon" />
    <meta name="google"      value="notranslate" />

    <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
    <meta http-equiv="content-language" content="en" />

    <meta property="og:title"       content="Batman Ipsum">
    <meta property="og:url"         content="http://batman-ipsum.com">
    <meta property="og:site_name"   content="Batman Ipsum">
    <meta property="og:type"        content="website">
    <meta property="og:description" content="Generate random text using Batman movies punchlines">
    <meta property="og:image"       content="#">

    <link rel="stylesheet" href="src/css/bootstrap.min.css">
    <link rel="stylesheet" href="src/css/style.css">
</head>
<body>

    <div ng-controller="main" class="container">
        <h1>Batman Ipsum</h1>
        <div class="row">
            <aside class="col-sm-4">

                <!-- FILMS -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="panel-title">
                            <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                            <strong>Movies</strong>
                            <span class="shortcuts">
                                <button class="btn btn-default btn-xs" ng-click="check_all('movies')"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> all</button>
                                <button class="btn btn-default btn-xs" ng-click="uncheck_all('movies')"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> all</button>
                            </span>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="movie in params.movies" class="checkbox"><label><input ng-model="movie.value" ng-change="update()" type="checkbox"> {{movie.name}}</label></div>
                    </div>
                </div>

                <!-- CHARACTERS -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="panel-title">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <strong>Characters</strong>
                            <span class="shortcuts">
                                <button ng-click="check_all('characters')" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> all</button>
                                <button ng-click="uncheck_all('characters')" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> all</button>
                            </span>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="character in params.characters" ng-class="{ disabled : character.disabled }" class="checkbox"><label><input type="checkbox" ng-model="character.value" ng-change="update()"> {{character.name}} <span ng-if="character.alias" class="alias">({{character.alias}})</span></label></div>
                    </div>
                </div>

                <!-- PARAGRAPHES -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="panel-title">
                            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                            <strong>Paragraphes</strong>
                            <span class="shortcuts" ng-if="params.paragraphes.min != defaults.paragraphes.min || params.paragraphes.max != defaults.paragraphes.max || params.paragraphes.count != defaults.paragraphes.count">
                                <button ng-click="reset('paragraphes')" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> refresh</button>
                            </span>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="range"><label><input ng-model="params.paragraphes.min"   ng-change="update()" type="range" min="0" max="10" value="0"> <span class="label label-default">{{params.paragraphes.min}}</span> min size</label></div>
                        <div class="range"><label><input ng-model="params.paragraphes.max"   ng-change="update()" type="range" min="0" max="10" value="10"> <span class="label label-default">{{params.paragraphes.max}}</span> max size</label></div>
                        <div class="range"><label><input ng-model="params.paragraphes.count" ng-change="update()" type="range" min="0" max="{{params.max_paragraphe_count}}" value="14"> <span class="label label-default">{{params.paragraphes.count}}</span> count</label></div>
                    </div>
                </div>

                <!-- OPTIONS -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="panel-title">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            <strong>Options</strong>
                            <span class="shortcuts" ng-if="params.options.name != defaults.options.name || params.options.html != defaults.options.html || params.options.nanana != defaults.options.nanana">
                                <button ng-click="reset('options')" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> refresh</button>
                            </span>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="checkbox"><label><input ng-model="params.options.name"       ng-change="update()" type="checkbox"> Show names</label></div>
                        <div class="checkbox"><label><input ng-model="params.options.html"       ng-change="update()" type="checkbox"> &lt;p&gt; HTML</label></div>
                        <div class="checkbox"><label><input ng-model="params.options.nanana"     ng-change="update()" type="checkbox"> nanana</label></div>
                        <div class="checkbox"><label><input ng-model="params.options.line_break" ng-change="update()" type="checkbox"> Line break</label></div>
                    </div>
                </div>

            </aside>
            <section class="col-sm-8">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="panel-title">
                            <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Copy to clipboard</button>
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> New one</button>
                        </span>
                    </div>
                    <div class="panel-body" ng-bind-html="params.value">

                    </div>
                </div>
            </section>
        </div>
    </div>

    <script src="src/js/libs/underscore.min.js"></script>
    <script src="src/js/libs/angular.min.js"></script>
    <script src="src/js/libs/angular-resource.min.js"></script>
    <script src="src/js/libs/angular-sanitize.min.js"></script>
    <script src="src/js/app/app.js"></script>
</body>
</html>
